<div class="row">
    <div class="col-8 mx-auto">
        <div class="card ">
            <div class="card-header bg-red">
                <strong class="text-black">Dados do Estabelecimento</strong>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-4">
                  <img src="assets/img/shop.svg">
                </div>
                <div class="col-8">
                  <table class="table">
                    <tr>
                      <th>Nome do Estabelicimento: </th>
                      <td>{{estabelecimento.nome}}</td>
                    </tr>
                    <tr>
                      <th>Sigla: </th>
                      <td>{{estabelecimento.sigla}}</td>
                    </tr>
                    <tr>
                      <th>NIF:</th>
                      <td>{{estabelecimento.nif}}</td>
                    </tr>
                    <tr>
                      <th>Email:</th>
                      <td>{{estabelecimento.email}}</td>
                    </tr>
                    <tr>
                      <th>Horario de Atendimento: </th>
                      <td>{{estabelecimento.horario}}</td>
                    </tr>
                    <tr>
                      <th>Contactos: </th>
                      <td>{{estabelecimento.telefone}}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
<!--/.row-->
